* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* header-makeup */

header {
    background-image: url(../new-year-new-me/images/banner/banner1.png);
    background-size: cover;
    background-position: center;
    margin: auto;
}

.heading1 {
    color: #151414;
    font-size: 65px;
    font-weight: 700;
}

.paragraph-txt {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
}

.btn {
    color: white;
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background: #F15B22;
    border: none;
    padding: 25px;
    margin-top: 50px;
}

.head-text {
    width: 1600px;
    height: 808px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: right;
}

/* main-makeup */

main {
    background: #FFF;
}

/* failure section */
.failure-section {
    max-width: 1400px;
    margin: 140px auto 140px;
    display: flex;
    padding: 0px 328px 0px 218px;
    align-items: center;
    justify-content: space-between;
}

.failure-img {
    width: 451px;
    flex-shrink: 0;
}

.failure-txt-contain {
    padding-left: 135px;
    flex-direction: column;
}

.failure-head {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

#failure-p {
    max-width: 416px;
}

div ul {
    margin-bottom: 12px;
    margin-top: 16px;
}

div ul li {
    margin-bottom: 8px;
}

/* plan-section */
.plans-head {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 55px;
}

.plans {
    margin-top: 150px;

}

.all-plans {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 80%;
    margin: auto;
    margin-bottom: 135px;

}

.plan-title {
    color: #151414;
    font-size: 30px;
    font-weight: 700;
}

.plan-des {
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}

.plan {
    align-items: center;
}

.banner-gradiant {
    background-image: linear-gradient(to right, rgba(252, 15, 15, 0.5), rgba(0, 0, 0, 0)), url('./images/watch.png');
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    border-radius: 8px;
    max-width: 1400px;
    padding: 59px 0px 59px 64px;

}

.gradiant-head {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.btn-g {
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background: #FFF;
    border: none;
    padding: 20px 35px;
}

.content-g {
    gap: 24px;

}

/* footer section styles */

footer {
    background-color: #151414;
}

.footer-container {
    max-width: 1400px;
    margin: 120px auto 0px;
    display: flex;
    justify-content: space-between;
    padding: 130px 0;
}

.footer-text-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.subscribe-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.footer-head {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 16px;
}

.footer-detail {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}

.contact {
    margin-bottom: 16px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

.icons {
    max-width: 175px;
    display: flex;

}

.subscribe-txt {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 36px;
}

.email-txt{
    color: black;
    border-radius: 8px;
    border: 1px solid black;
    padding: 20px 158px 21px 20px;
}

.subscribe-btn {
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: #FFF;
    padding: 20px 36px;
    max-width: 170px;
}